
<div class="container d-flex justify-content-center mt-100 mb-100" >
  <div class="row">
    <div class="col-md-12">
      <div class="card" style="background-image: url('https://cdn.pixabay.com/photo/2016/11/29/01/52/wood-1866659__340.jpg') ;border-color: white">
        <div class="card-body">
          <div class="d-flex no-block">
            <h4 class="card-title">Your Order:<br></h4>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover earning-box">
              <thead>
              <tr>
                <th>Meal</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Summary</th>
                <th>Delete</th>
              </tr>
              </thead>
             <tbody>
              <tr *ngFor="let meal of orderedMeals">
                <td> {{meal.meal.mealName}}</td>
                <td>{{meal.meal.mealPrice}}</td>
                <td>{{meal.quantity}}</td>
                <td>todo</td>
                <td class="mt-10">
                  <button class="badge badge-danger"><i class="fa fa-trash"></i> Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="bg-light p-20">
            <div class="d-flex">
              <div class="align-self-center">
                <h3 class="m-b-0">Total:</h3>
              </div>
              <div class="ml-auto align-self-center">
                <h2 class="text-success"></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

